@use "variables";

.about-me {
  background-color: variables.$bg-color-third;

  &__content {
    width: 540px;
    padding-block: 100px;
    margin: auto;
    text-align: center;
  }

  &__title {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 50px;
    color: variables.$title-color;
  }
}
