@use "variables";

.footer-block {
  background-color: variables.$bg-color-second;
}

.footer-block__content {
  padding-block: 50px;
}

.footer-block__name {
  color: variables.$white-text;
  line-height: 1.5;
  font-size: 21px;
  margin-bottom: 20px;
}

.footer-block__copyright {
  color: variables.$white-text;
  line-height: 1.5;
}
