@use "variables";

.footer-block {
  background-color: variables.$bg-color-second;

  &__content {
    padding-block: 50px;
  }

  &__name {
    color: variables.$white-text;
    line-height: 1.5;
    font-size: 21px;
    margin-bottom: 20px;
  }

  &__copyright {
    color: variables.$white-text;
    line-height: 1.5;
  }
}
