@use "variables";

.hero {
  background-color: variables.$bg-color-one;
  padding-bottom: 140px;

  &__title {
    font-weight: 500;
    font-size: 48px;
    color: variables.$title-color;
    margin-bottom: 60px;
  }

  &__desc {
    width: 540px;
    margin-bottom: 60px;
  }
}

.header {
  padding: 80px 0 115px;

  &__items {
    display: flex;
    gap: 50px;
  }

  &__item:hover {
    transition: all 0.5s;
    transform: scale(1.15);
  }

  &__link {
    color: variables.$title-color;
    letter-spacing: 2px;
  }

  &__link:hover {
    color: variables.$bg-color-second;
    transition: all 0.5s;
  }

  &__link--active {
    color: variables.$bg-color-second;
    transition: all 0.5s;
  }

  &__button {
    background-color: variables.$bg-color-second;
    padding: 15px 40px;
    color: variables.$white-text;
    border: none;
    letter-spacing: 1.6px;
    cursor: pointer;
  }

  &__button:hover {
    transition: all 0.5s;
    transform: scale(1.15);
    border-radius: 15px;
  }
}
