@use "variables";

.section-icon {
  background-color: variables.$bg-color-second;
  padding-block: 100px;

  &__items {
    display: flex;
    gap: 45px;
    justify-content: space-between;
  }

  &__item {
    display: flex;
    gap: 20px;
    transition: all 0.5s;
    align-items: center;
  }

  &__item:hover {
    transform: scale(1.15);
    transition: all 0.5s;
  }
}

.icon-text {
  display: flex;
  flex-direction: column;

  &__span {
    color: variables.$white-text;
  }

  &__span-size-one {
    font-size: 21px;
    font-weight: 500;
  }
}
