@media (max-width: 768px) {
  .header {
    padding: 40px 0px 70px;
  }

  .hero {
    padding: 0px 0px 80px;
  }

  .header__items {
    font-size: 14px;
    gap: 40px;
  }

  .hero__title {
    font-size: 40px;
  }

  .hero__desc {
    font-size: 15px;
  }

  .about-me__content {
    margin: 0 115px;
    padding: 50px 0px;
  }

  .section-icon {
    padding: 30px;
  }

  .video {
    margin: 0 15px;
    padding: 55px 0px 55px;
  }

  .video-block__player {
    padding: 0px 0px 70px;
  }

  .video-block__play-button {
    position: absolute;
    top: 28%;
    left: 43%;
    width: 100px;
    height: 100px;
    cursor: pointer;

    height: 20%;
  }

  .footer-block__content {
    padding: 30px 0;
  }
}
