@media (max-width: 425px) {
  .container {
    margin: 0px 50px;
  }

  .hero__desc {
    width: 100%;
  }

  .header__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .hero__title {
    font-size: 4vh;
    margin: 0px 0px 30px;
  }

  .hero__desc {
    max-width: 80%;
  }

  .section-icon {
    padding: 30px 0;
  }

  .section-icon__item {
    display: block;
  }

  .about-me__content {
    max-width: 50%;
  }

  .video {
    max-width: 60%;

    margin: 0px 65px;
  }

  .video-block__play-button {
    position: absolute;
    top: 28%;
    left: 35%;
    width: 100px;
    height: 100px;
    cursor: pointer;

    height: 20%;
  }

  .footer-block__content {
    padding: 10px 0px;
  }
}
